:root {
    
}

.text {
    color: var(--text-color);
}

.key {
    color: var(--key-color);
}

.string {
    color: var(--value-color-string);
}

.number {
    color: var(--value-color-number);
}

.boolean {
    color: var(--value-color-boolean);
}
